
.froga2-col-main {
    display: flex;
    /*to lay .block-* classes in a column*/
    flex-direction: column;
    /*Setting gap between the .block-* classes*/
    gap: 4vh;
    /*to set some padding and border inside*/
    padding: 4vh;
    border: 1vh solid #48CAE4;
}

/* .froga2-row1 {
    display: flex;
    flex-direction: row;
} */

/* .froga2-row2 {
    display: flex;
    flex-direction: row; 
    flex-wrap: wrap;
    justify-content: center; 
} */

/* .froga2-row3 {
    display: flex;
    flex-direction: row;
} */

[class^=froga2-row-] {
    /*To lay the boxes in a row.*/
    display: flex;
    flex-direction: row;
    height: 27.3333333333vh;
    /* putting gap between .box-* classes*/
    gap: 4vh;
    border: 2px solid black;
}

@media (max-width: 480px) {
    [class^=froga2-row-] {
      flex-direction: column;
    }
}

[class^=froga2-box-] {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    border-radius: 10px;
    background-color: #c1c1c1;
    font-family: sans-serif;
    font-size: 45px;
}

.froga2-box-A, .froga2-box-E {
    flex-basis: 100%;
}

.froga2-box-B, .froga2-box-D {
    flex-basis: 25%;
}

.froga2-box-C {
    flex-basis: 50%;
}

/* .froga2-box-B, .froga2-box-D {
    flex-basis: 25%;
}


.froga2-box-C {
    flex-basis: 50%;
} */

/* .froga2-box-B, .froga2-box-D {
    flex-basis: 25%;
}


.froga2-box-C {
    flex-basis: 50%;
} */

