.unitConverterControl-col-main {
    display: flex;
    /*to lay .block-* classes in a column*/
    flex-direction: column;
    /*Setting gap between the .block-* classes*/
    gap: 2vh;
    background: #2E0039;
    box-shadow: 0px 0px 8px 3px #00000033;
    border-radius: 21px;
    padding-bottom: 10px;
}

[class^=unitConverterControl-row-] {
    /*To lay the boxes in a row.*/
    display: flex;
    flex-direction: row;
    /* height: 20vh; */
    /* putting gap between .box-* classes*/
    gap: 1vh;
}

[class^=unitConverterControl-box-] {
    display: flex;
    justify-content: center;
    align-items: center;

    /* border: 2px solid black; */
    border-radius: 10px;
    /* background-color: #c1c1c1; */
    background: #2E0039;

    font-family: sans-serif;
    font-size: 25px;
}

.unitConverterControl-box-convert {
    justify-content: left;
    height: 35px;
    width: 104px;
    flex-basis: 100%;

    /* Typography */
    font-family: Poppins;
    font-size: 24px;
    font-weight: 600;
    line-height: 36px;
    letter-spacing: 0em;
    text-align: left;

    color: #FFFFFF;
    background: #2E0039;
    border: none;
}

.unitConverterControl-box-UnitsConversionSelector {
    flex-basis: 45%;
}

.unitConverterControl-box-reverse-conversion {
    flex-basis: 10%;
    border: none;
}

.unitConverterControl-box-InputUnit {
    flex-basis: 45%;
}

.unitConverterControl-box-save {
    flex-basis: 10%;
}

.unitConverterControl-box-gap {
    flex-basis: 45%;
}

.unitConverterControl-box-OutputUnit {
    flex-basis: 45%;
    border-color: white;
}

/* ------------------------------------- */
/* hide arrows
 Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none !important;
  margin: 0 !important;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield !important;
}
/* ------------------------------------- */

@media (max-width: 480px) {
    [class^=unitConverterControl-row-] {
      flex-direction: column;
    }
}




